/* Custom hover styles */

.custom-hover {
    color: white; /* Default color */
    transition: color 0.3s ease; /* Smooth transition */
}

.custom-hover:hover {
    color: yellow; /* Hover color */
}
